.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#dashboard .stats{
  height:400px;
}
#dashboard .hero{
  height:100vh;
  /* background-color: lightgray;  */
 
}
#dashboard .stat-item{
  height:220px;
  width:220px;
  background-color: cornsilk;
}
#dashboard .serre{
  background-color: cornsilk;
}






#landing-page .hero {
  height: 100vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.7)), url("https://images.pexels.com/photos/1470168/pexels-photo-1470168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}
.hero .lead {
  margin-left:200px;
  margin-right:200px;
  margin-bottom:15px
}
.section-padding{
  padding-top:50px;
  padding-bottom:35px;
}
.easy-steps{
  margin-top:25px;
  margin-bottom:35px;
}

#landing-page .presentation-login .row{
  height: auto;
  
}
.catalogue{
  height: 600px;
}
.catalogue img{
    object-fit:cover;
    width: 100%;
    height: 500px;
}
.carousel-caption{
  width:100%;
  height:100%;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0.4);
}

.carousel-description{
  padding-left: 100px;
  padding-right: 100px 
}

.main-title{
  color:white;
  font-size: 7rem;
}


.main-footer {
  background-color:#e3e3e3
}


#register-page{
  background-image: url("https://bergamotte.imgix.net/z049fzgxm50nzio6q6ri06wzq7op?ixlib=rails-4.2.0&auto=format%2Ccompress&fit=crop&q=65&ar=1%3A1&w=560");
  background-repeat:no-repeat;
  background-size: cover;
  width: 100%;

}

