.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#dashboard .stats{
  height:400px;
}
#dashboard .hero{
  height:100vh;
  /* background-color: lightgray;  */
 
}
#dashboard .stat-item{
  height:220px;
  width:220px;
  background-color: cornsilk;
}
#dashboard .serre{
  
  background-color: cornsilk;
}
#landing-page{
  height: 100vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.6)), url("https://images.pexels.com/photos/1470168/pexels-photo-1470168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-position: cover;
}

.catalogue .img {
  background-color:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.6))
}
/* .landing-overlay{
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
 
} */

.container img {
  filter: brightness(50%);
}

.main-title{
  color:white;
  font-size: 7rem;
}

.display{
  height:300px
}
