.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#dashboard .stats{
  height:auto;
}

#dashboard .hero{
 height:auto;
}

#dashboard .hero-right{
  background-image: linear-gradient(rgba(0, 0, 0, 0.05),rgba(0, 0, 0, 0.0)), url("https://images.pexels.com/photos/776656/pexels-photo-776656.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#dashboard .stat-item{
  height:210px;
  width:210px;
}
#dashboard .serre{
  background-image:  linear-gradient(rgba(161, 67, 67, 0.0),rgba(0, 0, 0, 0.0)), url("https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height:500px
}

#landing-page .hero {
  
  background-image:linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.7)), url("https://images.pexels.com/photos/1470168/pexels-photo-1470168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}
/* .hero .lead {
  margin-left:200px;
  margin-right:200px;
  margin-bottom:15px
} */
.section-padding{
  padding-top:35px;
  padding-bottom:35px;
}
.easy-steps{
  margin-top:25px;
  margin-bottom:35px;
}
.section-heading{
  font-size:1.6rem
}
@media screen and (min-width:768px){
  .section-heading{
    font-size:2.3rem
  }
}

#landing-page .presentation-login .row{
  height: auto;

}
@media screen and (min-width:1250px){
  #landing-page .hero{
    height:100vh;
   }
}
.catalogue{
  height: 600px;
}
.catalogue img{
    object-fit:cover;
    width: 100%;
    height: 500px;
}
.catalogue-ad{
  background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.0)), url("https://images.unsplash.com/photo-1517191434949-5e90cd67d2b6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");
  background-repeat: no-repeat;
  background-position:center center;
  background-size: cover;
 
}


.carousel-caption{
  width:100%;
  height:100%;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0.4);
}

.carousel-description{
  font-size:1rem ;
  padding-left: 50px;
  padding-right: 50px 
}
@media screen and (min-width:768px){
  .carousel-description{
    font-size:1.3rem;
    padding-left: 100px;
    padding-right: 100px 
  }
}
@media screen and (min-width:1200px){
  .carousel-description{
    padding-left: 200px;
    padding-right: 200px
  }
}
.main-title{
  color:white;
  font-size: 3.5rem;
} 
@media screen and (min-width:768px){
  .main-title{
    font-size: 4.8rem;
  } 
}
@media screen and (min-width:1200px){
  .main-title{
    font-size: 7.5rem;
  } 
}

.main-footer {
  background-color:#e3e3e3
}


#register-page{
  background-image: url("https://bergamotte.imgix.net/z049fzgxm50nzio6q6ri06wzq7op?ixlib=rails-4.2.0&auto=format%2Ccompress&fit=crop&q=65&ar=1%3A1&w=560");
  background-repeat:no-repeat;
  background-size: cover;
  width: 100%;
}

.bg-picture {
  background-image: url("https://bergamotte.imgix.net/z049fzgxm50nzio6q6ri06wzq7op?ixlib=rails-4.2.0&auto=format%2Ccompress&fit=crop&q=65&ar=1%3A1&w=560");
  background-repeat:no-repeat;
  background-size: cover;
  width: 100%;
}

.spinner {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://bergamotte.imgix.net/z049fzgxm50nzio6q6ri06wzq7op?ixlib=rails-4.2.0&auto=format%2Ccompress&fit=crop&q=65&ar=1%3A1&w=560");
  background-repeat:no-repeat;
  background-size: cover;
  height: 150vh; 
  opacity: 0.9;
}
@media screen and (min-width:768px){
  .form-container {
    width: 75%;
  }
}
@media screen and (min-width:1200px){
  .form-container {
    width: 60%;
    padding: 3rem;
  }
}



div.react-confirm-alert-button-group button {
  background-color:#3bbf62!important
}
div.react-confirm-alert-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
div.react-confirm-alert-body h1{

 font-size: 16px;
 width: 100%;
 text-align: center;
}

.btn {
  width: 17rem;
}

